{% extends 'base.html' %}

{% block content %}
    <div class="container container-fluid">
        <form class="col-6" method="POST" action="/posts/{{post.id}}/edit">
            <h1>{{post.title}}</h1>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea class="form-control" name="content" id="content">{{post.content}}</textarea>
            </div>
            {% if all_tags %}
            <h2>Tags:</h2>
                {% for tag in all_tags %}
                  <div class="form-check ml-3 mb-1">
                    <input class="form-check-input" name="tags" type="checkbox" id="{{tag.id}}" value="{{tag.id}}"
                      {% if tag in post.tags %}checked{% endif %}
                    >
                    <label class="form-check-label" for="{{tag.id}}">{{tag.name}}</label>
                  </div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
{% endblock %}